<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="../public/images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
        <title>HelpingBlock Admin Panel</title>
    
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
    
    
        <!-- Bootstrap core CSS     -->
        <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet" />
    
        <!-- Animation library for notifications   -->
        <link href="../public/stylesheets/animate.min.css" rel="stylesheet"/>
    
        <!--  Light Bootstrap Table core CSS    -->
        <link href="../public/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    
    
        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="../public/stylesheets//demo.css" rel="stylesheet" />
    
    
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="../public/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
    
    </head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="grey" data-image="../public/images/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    HelpingBlock
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="donations.html">
                        <i class="pe-7s-cash"></i>
                        <p>Donations</p>
                    </a>
                </li>
                <li class="active">
                        <a href="finances.html">
                            <i class="pe-7s-safe"></i>
                            <p>Finances</p>
                        </a>
                </li>
                <li>
                    <a href="staff.html">
                        <i class="pe-7s-note2"></i>
                        <p>Staff</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Manage Finances</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <!-- <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li> -->
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <span class="notification hidden-sm hidden-xs">5</span>
									<p class="hidden-lg hidden-md">
										2 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                              </ul>
                        </li>
                        <!-- <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li> -->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li> -->
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Options
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Action 2</a></li>
                                <li><a href="#">Action 3</a></li>
                                <li><a href="#">Action 4</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Pay Shopkeeper</h4>
                </div>
                <div class="content">
                    <form>
                       

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Full Name" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" class="form-control" placeholder="Amount" value="">
                                        </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" class="form-control" placeholder="ID" value="">
                                </div>
                            </div>
                        </div>

                        

                        <button type="submit" class="btn btn-info btn-fill pull-right">Pay</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Donation Info List</h4>
                                <p class="category">List of transactions and Recipients</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    	<th>TransactionCode</th>
                                    	<th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Suchal Rice</td>
                                            <td>3 Mar</td>
                                            <td>Rs. 9000</td>
                                        	<td>cxyTT6p9o</td>
                                        	<td></td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td>Awais Hooper</td>
                                            <td>8 Mar</td>
                                            <td>Rs. 2000</td>
                                        	<td>vvu490Ui9</td>
                                        	<td></td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td>Usama Rodriguez</td>
                                            <td>15 Mar</td>
                                            <td>Rs. 11000</td>
                                        	<td>qqo883cP0</td>
                                        	<td></td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td>Philip Malik</td>
                                            <td>20 Mar</td>
                                            <td>Rs. 35000</td>
                                        	<td>zeePL951A</td>
                                        	<td></td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td>Maaz Greene</td>
                                            <td>20 Mar</td>
                                            <td>Rs. 300</td>
                                        	<td>PqsXt6330</td>
                                        	<td></td>
                                        </tr>
                                        <tr>
                                        	<td>6</td>
                                        	<td>Saad Porter</td>
                                            <td>2 Mar</td>
                                            <td>Rs. 50</td>
                                        	<td>ai0kRk5r2</td>
                                        	<td></td>
                                        </tr>                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Withdrawals List</h4>
                                <p class="category">List of withdraws</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Name</th>
                                    	<th>Date</th>
                                    	<th>Amount</th>
                                    	<th>Reamining</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Suchal Rice</td>
                                        	<td>3 Mar</td>
                                        	<td>Rs. 3000</td>
                                        	<td>Rs. 0</td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td>Awais Hooper</td>
                                        	<td>5 Mar</td>
                                        	<td>Rs. 1500</td>
                                        	<td>Rs. 0</td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td>Usama Rodriguez</td>
                                        	<td>16 Mar</td>
                                        	<td>Rs. 2000</td>
                                        	<td>Rs. 3000</td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td>Philip Malik</td>
                                        	<td>20 Mar</td>
                                        	<td>Rs. 20000</td>
                                        	<td>Rs. 15000</td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td>Maaz Greene</td>
                                        	<td>Mar 20</td>
                                        	<td>Rs. 3000</td>
                                        	<td>Rs. 0</td>
                                        </tr>
                                        <tr>
                                        	<td>6</td>
                                        	<td>Saad Porter</td>
                                        	<td>Mar 21</td>
                                        	<td>Rs. 40</td>
                                        	<td>Rs. 10</td>
                                        </tr>                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="../public/javascripts/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="../public/javascripts/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="../public/javascripts/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../public/javascripts/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="../public/javascripts/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="../public/javascripts/demo.js"></script>


</html>
