extends layout

block content

  .col.s12
    .card.grey.lighten-4.z-depth-3
      .card-content
        span.card-title: h2 Account

        a.btn-large.tooltipped.white.black-text(data-tooltip="Tokens", style={'font-size':'24px'}).
          #[i.material-icons.left account_balance_wallet] 0.000053353