extends layout2

block content 
    nav.navbar.navbar-default.navbar-fixed
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Manage Shopkeeper
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                i.fa.fa-globe
                b.caret.hidden-sm.hidden-xs
                span.notification.hidden-sm.hidden-xs 5
                p.hidden-lg.hidden-md
                  | 2 Notifications
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Notification 1
                li
                  a(href='#') Notification 2
            
          ul.nav.navbar-nav.navbar-right
            
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                p
                  | Options
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Action 2
                li
                  a(href='#') Action 3
                li
                  a(href='#') Action 4
                li
                  a(href='#') Something
                li.divider
                li
                  a(href='#') Separated link
            li
              a(href='#')
                p Log out
            li.separator.hidden-lg.hidden-md            
    .col-md-8
      .card
        .header
          h4.title Pay Shopkeeper
        .content
          form
            .row
              .col-md-6
                .form-group
                  label Name
                  input.form-control(type='text' placeholder='Full Name' value='')
              .col-md-6
                .form-group
                  label Amount
                  input.form-control(type='text' placeholder='Amount' value='')              
            button.btn.btn-info.btn-fill.pull-right(type='submit') Pay Shopkeeper
            .clearfix
                             
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title ShopKeeper Payable Status List
                p.category List of Shopkeepers token to currency withdrawals
                button.refbtn.btn-info.btn-fill.pull-left Refresh
              .content.table-responsive.table-full-width
                table.table.table-hover.table-striped
                  thead
                    th ID
                    th Name
                    th Amount
                    th Status
                  tbody
                    tr
                      td 1
                      td Shopkeeper 1
                      td Token 1
                      td
                        p.text-info Not Paid
                    tr
                      td 2
                      td Shopkeeper 2
                      td Token 2
                      td
                        p.text-info Not Paid
                    tr
                      td 3
                      td Shopkeeper 3
                      td Token 3
                      td
                        p.text-warning Pending
                    tr
                      td 4
                      td Shopkeeper 4
                      td Token 4
                      td
                        p.text-info Not Paid
        .col-md-12
            .card.card-plain
              .header
                h4.title ShopKeepers Transaction History List
                p.category List of Shopkeepers transaction history
                button.refbtn.btn-info.btn-fill.pull-left Refresh
              .content.table-responsive.table-full-width
                table.table.table-hover
                  thead
                    th ID
                    th Name
                    th Amount
                    th date
                    th TransactionCode
                  tbody
                    tr
                      td 1
                      td Shopkeeper 1
                      td Date 1
                      td Amount 1
                      td Code 1 
                    tr
                      td 2
                      td Shopkeeper 2
                      td Date 2
                      td Amount 2
                      td Code 2
                    tr
                      td 3
                      td Shopkeeper 3
                      td Date 3
                      td Amount 3
                      td Code 3
                    tr
                      td 4
                      td Shopkeeper 4
                      td Date 4
                      td Amount 4
                      td Code 4
    
    script.
     $().ready(function(){
      $(document).ready(function(){
      $("li").each(function(k,v){      
      if($(this).text() === "Shopkeeper"){
      $(this).attr("class", "active");
      }
      });
      });
      
      });