extends layout2

block content 
    nav.navbar.navbar-default.navbar-fixed
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Manage Staff
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                i.fa.fa-globe
                b.caret.hidden-sm.hidden-xs
                span.notification.hidden-sm.hidden-xs 5
                p.hidden-lg.hidden-md
                  | 2 Notifications
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Notification 1
                li
                  a(href='#') Notification 2
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                p
                  | Options
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Option
                li
                  a(href='#') Option 2
                li
                  a(href='#') Option 3
                li
                  a(href='#') Option 3
                li.divider
                li
                  a(href='#') Separated Option
            li
              a(href='#')
                p Log out
            li.separator.hidden-lg.hidden-md
    br
    .col-md-8
      .card
        .header
          h4.title Add Employee
        .content
          form(action='/staff' method='post')
            .row
              .col-md-5.form-group
                  label NGO (disabled)
                  input.form-control(type='text' disabled='' placeholder='NGO' value='NGO NAME Inc.' name='ngostr' )
            .row
              .col-md-4.form-group
                label Name:
                input.form-control(type='text' name='user_name')            
              .col-md-4.form-group
                label E-mail:
                input.form-control(type='email' name='user_email')
              .col-md-4.form-group
                  label Password
                  input.form-control(type='password' placeholder='Password' name='password')
            .row
              .col-md-4.form-group
                  label Contact No.
                  input.form-control(type='number' placeholder='Contact No.' name='contactno')
              .col-md-4.form-group
                  label CNIC
                  input.form-control(type='number'  maxlength="13" size="13" name='cnic') 
              
              .col-md-3.form-group
                  label Role
                  select.form-control(name='Role')
                    option(value='Admin') Admin
                    option(value='Guard') Guard
                    option(value='Accountant') Accountant
                    option(value='IT Support') IT Support
            .row
              .col-md-9.form-group
                  label Address
                  input.form-control(type='text' placeholder='Home Address' name='homeaddr')
              .col-md-3.form-group
                  label City
                  input.form-control(type='text' placeholder='City' name='city')
            button.btn.btn-info.btn-fill.pull-right(type='submit') Add Staff Member
            .clearfix
    
    
    //- .col-md-8
    //-   .card
    //-     .header
    //-       h4.title Add Admin
    //-     .content
    //-       form
    //-         .row
    //-           .col-md-4
    //-             .form-group
    //-               label Name
    //-               input.form-control(type='text' placeholder='Name')
    //-           .col-md-4
    //-             .form-group
    //-               label Username
    //-               input.form-control(type='text' placeholder='Username')
    //-           .col-md-4
    //-             .form-group
    //-               label Contact No.
    //-               input.form-control(type='text' placeholder='Contact No.')
              
    //-         .row
    //-           .col-md-4
    //-             .form-group
    //-               label Email
    //-               input.form-control(type='email' placeholder='Email')
    //-           .col-md-4
    //-             .form-group
    //-               label Password
    //-               input.form-control(type='password' placeholder='Password')
              
    //-         .row
    //-           .col-md-12
    //-             .form-group
    //-               label Address
    //-               input.form-control(type='text' placeholder='Address')
    //-         .row  
    //-           .col-md-4
    //-             .form-group
    //-               label City
    //-               input.form-control(type='text' placeholder='City' value='')  
    //-           .col-md-4
    //-             .form-group
    //-               label CNIC
    //-               input.form-control(type='number'  maxlength="13" size="13")    
    //-         button.btn.btn-info.btn-fill.pull-right(type='submit') Add Admin
    //-         .clearfix
    
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Employees List
                p.category List of Staff Members
              .content.table-responsive.table-full-width
                table.table.table-hover.table-striped
                  thead
                    th ID
                    th Name
                    th Contact No.
                    th Email
                    th Role
                    th City
                    th Action
                  tbody
                  each row in table
                    tr
                    each clm in row
                      td #{clm}
                    td
                      button.editbtn.btn-warning.btn-fill Edit
                      <span>  </span>
                      button.rmvbtn.btn-danger.btn-fill Remove    

    script.
      $().ready(function(){      
        $("li").each(function(k,v){      
        if($(this).text() === "Staff")
        {
          $(this).attr("class", "active");
        }
        });
      });

      //- function postRefreshPage (rowData) 
      //- {
      //-   var theForm, newInput;
      //-   // Start by creating a <form>
      //-   theForm = document.createElement('form');
      //-   theForm.action = '/test';
      //-   theForm.method = 'post';
      //-   // Next create the <input>s in the form and give them names and values
      //-   for(var i =0;i<rowData.length-1;i=i+1){
      //-     newInput = document.createElement('input');
      //-     newInput.type = 'hidden';
      //-     newInput.name = 'data';               
      //-     newInput.value = rowData[i];
      //-     // Now put it together...
      //-     theForm.appendChild(newInput);
      //-   };
      //-   // ...and it to the DOM...
      //-   document.getElementById('hidden_form_container').appendChild(theForm);
      //-   // ...and submit it
      //-   theForm.submit();
      //- }
      //- $('.editbtn').click(function () {      
      //-   var currentTD = $(this).parents('tr').find('td');

      //-   if ($(this).html() == 'Edit') 
      //-   {
      //-     $.each(currentTD, function () { $(this).prop('contenteditable', true); });
      //-   }
      //-   else 
      //-   {
      //-     $.each(currentTD, function () { $(this).prop('contenteditable', false);});
      //-   }
          
      //-   if($(this).html() == 'Save')
      //-   {
      //-     var rowData = currentTD.map(function() { return $(this).text(); }).get();
      //-     postRefreshPage(rowData); 
      //-     //- $.ajax({
      //-     //- type: "GET",
      //-     //- url: '/test',
      //-     //- data: {rowData:rowData},
      //-     //- success: function (result) {
      //-     //-  console.log(result);
      //-     //- },
      //-     //- async: false
      //-     //- });
      //-     //- }
      //-   }     
      //-   $(this).html($(this).html() == 'Edit' ? 'Save' : 'Edit')
      //- });
