extends layout2

block content 
    nav.navbar.navbar-default.navbar-fixed
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Manage Staff
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                i.fa.fa-globe
                b.caret.hidden-sm.hidden-xs
                span.notification.hidden-sm.hidden-xs 5
                p.hidden-lg.hidden-md
                  | 2 Notifications
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Notification 1
                li
                  a(href='#') Notification 2
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                p
                  | Options
                  b.caret
              ul.dropdown-menu
                li
                  a(href='#') Option
                li
                  a(href='#') Option 2
                li
                  a(href='#') Option 3
                li
                  a(href='#') Option 3
                li.divider
                li
                  a(href='#') Separated Option
            li
              a(href='#')
                p Log out
            li.separator.hidden-lg.hidden-md
    .col-md-8
      .card
        .header
          h4.title Add Employee
        .content
          form
            .row
              .col-md-5
                .form-group
                  label NGO (disabled)
                  input.form-control(type='text' disabled='' placeholder='Company' value='Creative Code Inc.')
              .col-md-3
                .form-group
                  label Username
                  input.form-control(type='text' placeholder='Username' value='michael23')
              .col-md-4
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input.form-control(type='email' placeholder='Email')
            .row
              .col-md-6
                .form-group
                  label First Name
                  input.form-control(type='text' placeholder='Company' value='Mike')
              .col-md-6
                .form-group
                  label Last Name
                  input.form-control(type='text' placeholder='Last Name' value='Andrew')
            .row
              .col-md-12
                .form-group
                  label Address
                  input.form-control(type='text' placeholder='Home Address' value='Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09')
            .row
              .col-md-4
                .form-group
                  label City
                  input.form-control(type='text' placeholder='City' value='Mike')
              .col-md-4
                .form-group
                  label Postal Code
                  input.form-control(type='number' placeholder='ZIP Code')
              .col-md-4
                .form-group
                  label Role
                  select.form-control
                    option(value='volvo') Admin
                    option(value='saab') Guard
                    option(value='opel') Accountant
                    option(value='audi') IT Support
            .row
              .col-md-12
                .form-group
                  label About Me
                  textarea.form-control(rows='5' placeholder='Here can be your description' value='Mike') Lamborghini Mercy, Your chick she so thirsty, I&apos;m in that two seat Lambo.
            button.btn.btn-info.btn-fill.pull-right(type='submit') Add Profile
            .clearfix
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Employss List
                p.category List of Staff Memebers
              .content.table-responsive.table-full-width
                table.table.table-hover.table-striped
                  thead
                    th ID
                    th Name
                    th Salary
                    th Role
                    th City
                  tbody
                    tr
                      td 1
                      td Dakota Rice
                      td $36,738
                      td Niger
                      td Oud-Turnhout
                    tr
                      td 2
                      td Minerva Hooper
                      td $23,789
                      td Cura&ccedil;ao
                      td Sinaai-Waas
                    tr
                      td 3
                      td Sage Rodriguez
                      td $56,142
                      td Netherlands
                      td Baileux
                    tr
                      td 4
                      td Philip Chaney
                      td $38,735
                      td Korea, South
                      td Overland Park
                    tr
                      td 5
                      td Doris Greene
                      td $63,542
                      td Malawi
                      td Feldkirchen in K&auml;rnten
                    tr
                      td 6
                      td Mason Porter
                      td $78,615
                      td Chile
                      td Gloucester
                    tr
                      td 6
                      td Mason Porter
                      td $78,615
                      td Chile
                      td Gloucester
                    tr
                      td 6
                      td Mason Porter
                      td $78,615
                      td Chile
                      td Gloucester
                    tr
                      td 6
                      td Mason Porter
                      td $78,615
                      td Chile
                      td Gloucester
                    tr
                      td 6
                      td Mason Porter
                      td $78,615
                      td Chile
                      td Gloucester

